.card-login-content {
    width: 80%;
    position: fixed;
    top: 50%;
    left: 1%;
    transform: translateY(-80%);
    background: #1e1e1e;
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    text-align: left;
    max-width: 250px;
    margin: 0;
}  

.card-logout {
    max-width: 400px;
    margin-left: 16%;
    margin-top: 1%;
    margin-bottom: 1%;
    color: #fff; /* Light text color */
    align-items: left;
    text-align: left;
}

.card-logout h3 {
    margin: 0;
    font-size: 18px;
    text-align: left;
}

.card-logout i {
    font-style: italic;
    color: #aaa; /* Lighter color for the italic part */
}

/* Responsive styling */
@media (max-width: 600px) {
    .card-logout {
        padding: 10px 15px; /* Adjust padding on smaller screens */
    }

    .card-logout h3 {
        font-size: 16px; /* Adjust font size for smaller screens */
    }
}