<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loading.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app/job_description.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app/gpt_response.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app/resume_options.css') }}">
</head>
<body>
    <header>
        <h1>{{ title }}</h1>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>

<script type="module" src="{{ url_for('static', filename='js/Cleanser.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/AgentInterface.js') }}"></script>

{% block script %}{% endblock %}
</html>
