<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loading.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/premium.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app/job_description.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app/gpt_response.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app/resume_options.css') }}">
    <style>
        #card-logout {
            display: flex;
            align-items: center;
            justify-content: center;
            {% if user_auth %}
            display: flex;
            {% else %}
            display: none;
            {% endif %}
        }
        .card-login-content {
            {% if user_auth %}
            display: none;
            {% else %}
            display: block;
            position: fixed;
            {% endif %}            
        }
    </style>

</head>
<body>
    <main> 
        <nav class="navbar">
            <h1 class="navbar-title">Automatic Resume Builder</h1>
            <div class="navbar-links">
                {% if user_auth %}
                <a href="{{ url_for('logout') }}" class="btn secondary-btn">Logout</a> 
                {% else %}
                <a href="{{ url_for('logout') }}" class="btn secondary-btn">Clear Session</a>
                {% endif %}
                {% block navigation %}{% endblock %}
            </div>
        </nav>
        {% if user_auth %}
            <div class="card-logout" id="card-logout">
                <h3 style="text-align:left; align-items: left;"><i>Welcome {{ user_email }}</i></h3>
            </div>
        {% endif %}
        {% block content %}{% endblock %}
        <!-- If NOT user = premium ELSE account management -->
        <div class="card-premium" id="card-premium">
            <div class="close-btn" id="closeBtn">&times;</div>
            <div class="card-premium-content">
                <h1 style="color:aqua;">Premium </h1>
                <ul class="dark-list">
                    <li>Unlimited Resume Downloads</li>
                    <li>Access All Resume Styles</li>
                    <li>No API Key Required</li>
                    <li>Try out Industry-Focused Agents to improve your resume further</li>
                </ul>
            </div>
        </div>
      
    <div class="card-login-content">
        <h2 id="form-title" class="mt-5">Sign In</h2>
        <form id="verify-form" style="display: none;" method="POST">
            <div class="form-group">
                <small>A verification code has been sent to your email</small>
                <input type="" class="form-control" id="verify-code" name="verify-code" maxlength="6">
            </div>
        </form>
        <form id="auth-form" method="POST">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" required
                pattern="(?=.*[A-Z])(?=.*[!@#$&*])(?=.*[a-z]).{8,}">
            </div>
            <div id="extra-fields" style="display: none;">
                <div class="form-group">
                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" class="form-control" id="confirm-password" name="confirm-password">
                </div>
            </div>
            <button type="submit" id="auth-button" class="btn btn-primary">Sign In</button>
        </form>
        <p class="toggle-text">
            <a href="#" id="toggle-form">Don't have an account? Sign Up</a>
        </p>
    </div>
    
</body>

<script type="module" src="{{ url_for('static', filename='js/Cleanser.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/AgentInterface.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/Handshake.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/Account.js') }}"></script>
<script>

window.appConfig = {
    clientUUID: "{{ client_uuid }}",
    csrfToken: "{{ csrf_token }}"
};
document.addEventListener('DOMContentLoaded', function() {
    // Toggle fullscreen for all card-premium elements
    document.querySelectorAll('.card-premium').forEach(cardPremium => {
        cardPremium.addEventListener('click', function() {
            this.classList.add('fullscreen');
        });
    });

    // Close fullscreen for card-premium on close button click
    document.querySelectorAll('.close-btn').forEach(closeBtn => {
        closeBtn.addEventListener('click', function(event) {
            // Prevent the click event from propagating to the parent container
            event.stopPropagation();

            // Get the parent card-premium container
            const cardPremium = this.closest('.card-premium');
            if (cardPremium) {
                cardPremium.classList.remove('fullscreen');
            }
        });
    });
});
</script>


{% block script %}{% endblock %}
</html>
